<div class="wrapper">
  <h1 class="text">Sign Up</h1>
  <p class="text">
    <a routerLink="/login">Have an account?</a>
  </p>
  BACKEND ERRORS HERE
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <fieldset class="">
      <input type="text" class="" placeholder="Username" formControlName="username" />
    </fieldset>
    <fieldset class="">
      <input type="text" class="" placeholder="Email" formControlName="email" />
    </fieldset>
    <fieldset class="">
      <input type="password" class="" placeholder="Password" formControlName="password" />
    </fieldset>
    <button type="submit" class="">
      Sign Up
    </button>
  </form>
</div>