.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    border: 2px solid red;
    

    .text{
        text-align: center;
        color: aqua;
        font-size: 60px;
    }
}

form{
    display: flex;
    flex-direction: column;
}