.articles{
    // margin: 10px;
    border-bottom: 2px solid grey ;
    margin-top: 20px;
}

.article-meta{
    display: flex;
    justify-content: space-between;
}

.date{
    margin-top: 5px;
}

.username{
    font-size: 16px;
    font-weight: 600;
}

p{
    color: black;
    font-size: 16px;
}