@if(isLoading$){
<div class="loading">
    Loading...
</div>
}
@if (error$) {
<app-error-message [message]="error$"></app-error-message>
}

@if (feed$) {
@for (article of feed$; track $index) {
<div class="articles">
    <div class="article-meta">
        <div class="info">
            <a [routerLink]="['/profiles', article.author.username]">
                <img [src]="article.author.image" alt="">
            </a>
            <a [routerLink]="['/profiles', article.author.username]" class="username">
                {{article.author.username}}
            </a>
            <span class="date">{{article.createdAt}}</span>
        </div>
        <div class="addFavorite">ADD TO FAVORITE</div>
    </div>
    <a [routerLink]="['/articles', article.slug]">
        <h1>{{article.title}}</h1>
        <p>{{article.description}}</p>
        <span>Read more</span>
        TAG LIST
    </a>
</div>
}
}
PAGINATION